<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
</head>
<body>

<table>
    <caption><b>Полный список выдач</b></caption>
    <tr>
        <td>Id</td>
        <th>Id читателя</th>
        <th>Id книги</th>
        <th>Выдана</th>
        <th>Возвращена</th>
    </tr>
    <tr th:each="issue: ${issues}">
        <td th:text="${issue.getId()}"></td>
        <td th:text="${issue.getReaderId()}"></td>
        <td th:text="${issue.getBookId()}"></td>
        <td th:text="${issue.getIssued_at()}"></td>
        <td th:text="${issue.getReturned_at()}"></td>
    </tr>
</table>

<style>
    table {
        border: 3px solid black;
        border-collapse: collapse;
        width: 50%;
    }
    td {
        border: 3px solid black;
    }
    th {
        border: 3px solid black;
    }

</style>

</body>
</html>